<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lesson Videos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-item>
              <ion-label>
                <ion-card-subtitle>Advanced</ion-card-subtitle>
                <ion-card-title>How to write ABC</ion-card-title>
              </ion-label>
              <ion-note slot="end">
                <ion-icon name="diamond-outline" size="large"></ion-icon>
              </ion-note>
            </ion-item>
          </ion-card-header>
      
          <iframe width="560" height="315" src="https://www.youtube.com/embed/9MazN_6wdqI?si=xsn6aECJjMcQqfNs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

          <ion-card-content>
            This mentor explains things i don't understand.
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-item>
              <ion-label>
                <ion-card-subtitle>Very Advanced</ion-card-subtitle>
                <ion-card-title>How to walk</ion-card-title>
              </ion-label>
              <ion-note slot="end">
                <ion-icon name="diamond-outline" size="large"></ion-icon>
              </ion-note>
            </ion-item>
          </ion-card-header>
      
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Eml2xnoLpYE?si=aCpov1aST6L1z96C" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <ion-card-content>
            still don't understand.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            
            <ion-item>
              <ion-label>
                <ion-card-subtitle>Extremely Advanced</ion-card-subtitle>
                <ion-card-title>How to draw a straight line</ion-card-title>
              </ion-label>
              <ion-note slot="end">
                <ion-icon name="diamond-outline" size="large"></ion-icon>
              </ion-note>
            </ion-item>
          </ion-card-header>
      
          <iframe width="560" height="315" src="https://www.youtube.com/embed/kAyN0DS5PAU?si=jcP-WlHwhZf22R3U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          
          <ion-card-content>
            will never understand.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lesson Videos</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
