ion-card iframe {
    width: 100%;
}

ion-card, ion-item {
    --background: #000;
    --color: #9efff0;
}

ion-item ion-note {
    // --font-size: 1.2rem;
    --color: #9efff0;
    font-size: large;
}

// wont work due to this line
// :host(.icon-large) {
//     font-size: 32px !important;
ion-icon {
    font-size: 128px;
}

ion-card-title {
    --color: #52ffe4;
}

ion-card-subtitle {
    --color: #d1fff8;
}